<!DOCTYPE html>
<html lang="en" manifest="/cache.appcache">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Dashboard - ML6</title>
    <meta name="description" content="Dashboard Influxdb 2.0 stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">

    <link rel="manifest" href="{{ url_for('static', filename='json/manifest.json') }} ">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>

    <script>
        // var moment = require("moment");
        // moment().format();
    </script>

    <script src="./js/datahandler.js"></script>
    <script src="./js/calendar.js"></script>


</head>

<body>
    <div class="c-app">
        <div class="c-app__content">
            <div class="c-app__top">
                <div class="c-container o-container">
                    <div class="c-top__content">
                        <div class="c-notificaton">
                            <svg class="c-notificaton__bell js-bell" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="47" viewBox="0 0 45 47">
                                <g id="bell_icon" data-name="bell icon" transform="translate(-80 -48)">
                                    <g id="bell" data-name="bell" transform="translate(-478 -132)"
                                        clip-path="url(#clip-path)">
                                        <path id="notification"
                                            d="M39.7,35.868l-2.257-4.515a2.886,2.886,0,0,1-.3-1.274V20a14.3,14.3,0,0,0-8.883-13.21,5.673,5.673,0,0,0-10.8,0A14.3,14.3,0,0,0,8.572,20V30.074a2.847,2.847,0,0,1-.3,1.286L6.012,35.871A2.857,2.857,0,0,0,8.572,40h9.372a5.662,5.662,0,0,0,9.835,0h9.366A2.857,2.857,0,0,0,39.7,35.865ZM13.2,34.288l.189-.377a8.69,8.69,0,0,0,.906-3.829V20a8.572,8.572,0,1,1,17.144,0V30.079a8.627,8.627,0,0,0,.9,3.835l.189.374-19.33,0Z"
                                            transform="translate(555.142 177.143)" fill="#f90" />
                                    </g>
                                    <g id="notification_circle" class="js-notification--count"
                                        data-name="notification circle" transform="translate(-2 -1)">
                                        <circle id="Circle" data-name="Circle" cx="12" cy="12" r="12"
                                            transform="translate(103 72)" fill="red" />
                                        <text id="notification_number" data-name="notification number"
                                            transform="translate(103 78)" fill="#fff" font-size="16"
                                            font-family="Roboto-Medium, Roboto" font-weight="500" x="12" y="12"
                                            text-anchor="middle" class="js-notification-count__count">
                                            1
                                        </text>
                                    </g>
                                </g>
                            </svg>
                            <div class="c-notification__box js-box-notification">
                                <div class="c-notification__item">
                                    🚚 Your coffee is on it's way!
                                </div>
                                <div class="c-notification__item">
                                    ☕ Your coffee has arrived to the office!
                                </div>
                                <div class="c-notification__item">
                                    😢 Oh no! Coffee is finished, Time for starbucks 🚶‍♀️
                                </div>
                                <div class="c-notification__item">
                                    🍽 The Dishwasher is empty! Time to empty it!
                                </div>
                                <div class="c-notification__item">
                                    💩 Don't forget to fill in the dishwasher!
                                </div>
                            </div>
                        </div>

                        <div class="c-app__title">
                            Calendar
                        </div>

                        <div class="c-app__user">
                            <div class="c-app__img">
                                <img class="c-img__profile" loading="lazy" alt="profilepic"
                                    src="{{user_info["picture"]}}" alt="profilepic">
                            </div>
                            <div class="c-app__userdetails">
                                <div class="c-app__name">
                                    {{user_info["given_name"]}} - <a href="/google/logout">Logout</a>
                                </div>
                                <div class="c-app__email">
                                    {{user_info["email"]}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="o-container c-container">
                <div class="c-dashboard">
                    <div class="c-dashboard__item c-dashboard__mini-calendar u-x-span-6-bp3 u-y-span-3-bp3 js-on">
                        <div class="c-calendar__header">
                            <div class="c-calendar__title js-mini-month">
                                June 2020
                            </div>
                            <div class="c-calendar__arrows">
                                <svg class="js-mini-left c-arrow" xmlns="http://www.w3.org/2000/svg" width="32"
                                    height="32" viewBox="0 0 32 32">
                                    <g id="Group_55" data-name="Group 55" transform="translate(-872 -200)">
                                        <g id="ic_chevron_left" transform="translate(872 200)">
                                            <rect id="rectangle" width="32" height="32" fill="none" />
                                            <path id="path" d="M20.333,8.333,18,6,8,16,18,26l2.333-2.333L12.667,16Z"
                                                transform="translate(1.478)" fill="#ababab" fill-rule="evenodd" />
                                        </g>
                                    </g>
                                </svg>

                                <svg class="js-mini-right c-arrow" xmlns="http://www.w3.org/2000/svg" width="32"
                                    height="32" viewBox="0 0 32 32">
                                    <g id="Group_56" data-name="Group 56" transform="translate(904 232) rotate(-180)">
                                        <g id="ic_chevron_left" transform="translate(872 200)">
                                            <rect id="rectangle" width="32" height="32" fill="none" />
                                            <path id="path" d="M20.333,8.333,18,6,8,16,18,26l2.333-2.333L12.667,16Z"
                                                transform="translate(1.478)" fill="#ababab" fill-rule="evenodd" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <table class="c-calendar__content">
                            <thead>
                                <tr>
                                    <th class="c-calendar__day">Mon</th>
                                    <th class="c-calendar__day">Tue</th>
                                    <th class="c-calendar__day">Wed</th>
                                    <th class="c-calendar__day">Thu</th>
                                    <th class="c-calendar__day">Fri</th>
                                    <th class="c-calendar__day">Sat</th>
                                    <th class="c-calendar__day">Sun</th>
                                </tr>
                            </thead>

                            <tbody class="js-mini-body">

                            </tbody>
                        </table>
                    </div>
                    <div class="c-dashboard__item c-dashboard__disabled u-x-span-18-bp3 u-y-span-1-bp3">
                        <div class="c-calendar__header">
                            <div class="c-calendar__week">
                                <div class="c-calendar__title--head js-title">
                                    June 1 - 7, 2020
                                </div>
                                <div class="c-calendar__arrows c-calendar__arrows--main">
                                    <svg class="c-arrow js-left" xmlns="http://www.w3.org/2000/svg" width="32"
                                        height="32" viewBox="0 0 32 32">
                                        <g id="Group_55" data-name="Group 55" transform="translate(-872 -200)">
                                            <g id="ic_chevron_left" transform="translate(872 200)">
                                                <rect id="rectangle" width="32" height="32" fill="none" />
                                                <path id="path" d="M20.333,8.333,18,6,8,16,18,26l2.333-2.333L12.667,16Z"
                                                    transform="translate(1.478)" fill="#ababab" fill-rule="evenodd" />
                                            </g>
                                        </g>
                                    </svg>

                                    <svg class="c-arrow js-right" xmlns="http://www.w3.org/2000/svg" width="32"
                                        height="32" viewBox="0 0 32 32">
                                        <g id="Group_56" data-name="Group 56"
                                            transform="translate(904 232) rotate(-180)">
                                            <g id="ic_chevron_left" transform="translate(872 200)">
                                                <rect id="rectangle" width="32" height="32" fill="none" />
                                                <path id="path" d="M20.333,8.333,18,6,8,16,18,26l2.333-2.333L12.667,16Z"
                                                    transform="translate(1.478)" fill="#ababab" fill-rule="evenodd" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="c-calendar__actions">
                                <div class="c-calendar__dropdown">

                                </div>
                                <div class="c-calendar__add">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-dashboard__item c-dashboard__calendar u-x-span-18-bp3 u-y-span-5-bp3 js-on">
                        <div class="c-calendar__days">
                            <div class="c-calendar__day-item u-x-span-1-bp3">
                                <div class="c-calendar__number js-monday">
                                    1
                                </div>
                                <div class="c-calendar__text">
                                    Monday
                                </div>
                            </div>
                            <div class="c-calendar__day-item u-x-span-1-bp3">
                                <div class="c-calendar__number js-tuesday">
                                    2
                                </div>
                                <div class="c-calendar__text">
                                    Tuesday
                                </div>
                            </div>
                            <div class="c-calendar__day-item u-x-span-1-bp3">
                                <div class="c-calendar__number js-wednesday">
                                    3
                                </div>
                                <div class="c-calendar__text">
                                    Wednesday
                                </div>
                            </div>
                            <div class="c-calendar__day-item u-x-span-1-bp3">
                                <div class="c-calendar__number js-thursday">
                                    4
                                </div>
                                <div class="c-calendar__text">
                                    Thursday
                                </div>
                            </div>
                            <div class="c-calendar__day-item u-x-span-1-bp3">
                                <div class="c-calendar__number js-friday">
                                    5
                                </div>
                                <div class="c-calendar__text">
                                    Friday
                                </div>
                            </div>
                            <div class="c-calendar__day-item u-x-span-1-bp3">
                                <div class="c-calendar__number js-saturday">
                                    6
                                </div>
                                <div class="c-calendar__text">
                                    Saturday
                                </div>
                            </div>
                            <div class="c-calendar__day-item u-x-span-1-bp3">
                                <div class="c-calendar__number js-sunday">
                                    7
                                </div>
                                <div class="c-calendar__text">
                                    Sunday
                                </div>
                            </div>

                            <div class="c-calendar__hour-box u-x-span-1-bp3">
                                <div class="c-calendar__meeting-box">
                                    <div class="c-meeting__title">
                                        Stand Up
                                    </div>
                                    <div class="c-meeting__client">
                                        Client A
                                    </div>
                                    <div class="c-meeting__time">
                                        8:00 - 9:00
                                    </div>
                                </div>
                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp-3">

                            </div>
                            <div class="c-calendar__hour-box u-x-span-1-bp-3">

                            </div>
                        </div>
                    </div>
                    <div class="c-dashboard__item u-x-span-6-bp3 u-y-span-2-bp3 js-on">
                        <div class="c-dashboard__option">
                            Meeting Rooms
                        </div>
                        <ul class="o-list c-option-list">
                            <li class="c-form-field c-form-field--option c-option-list__item">
                                <input class="o-hide-accessible c-option c-option--hidden" type="radio" name="radios"
                                    id="radio1" checked>
                                <label class="c-label c-label--option c-custom-option c-label__rooms" for="radio1">
                                    <span class="c-custom-option__fake-input c-custom-option__fake-input--radio">
                                        <span class="c-custom-option__symbol"></span>
                                    </span>
                                    Moon Raker
                                </label>
                            </li>
                            <li class="c-form-field c-form-field--option c-option-list__item">
                                <input class="o-hide-accessible c-option c-option--hidden" type="radio" name="radios"
                                    id="radio2">
                                <label class="c-label c-label--option c-custom-option c-label__rooms" for="radio2">
                                    <span class="c-custom-option__fake-input c-custom-option__fake-input--radio">
                                        <span class="c-custom-option__symbol"></span>
                                    </span>
                                    Gold Finger
                                </label>
                            </li>
                            <li class="c-form-field c-form-field--option c-option-list__item">
                                <input class="o-hide-accessible c-option c-option--hidden" type="radio" name="radios"
                                    id="radio3">
                                <label class="c-label c-label--option c-custom-option c-label__rooms" for="radio3">
                                    <span class="c-custom-option__fake-input c-custom-option__fake-input--radio">
                                        <span class="c-custom-option__symbol"></span>
                                    </span>
                                    Casino Royale
                                </label>
                            </li>
                            <li class="c-form-field c-form-field--option c-option-list__item">
                                <input class="o-hide-accessible c-option c-option--hidden" type="radio" name="radios"
                                    id="radio4">
                                <label class="c-label c-label--option c-custom-option c-label__rooms" for="radio4">
                                    <span class="c-custom-option__fake-input c-custom-option__fake-input--radio">
                                        <span class="c-custom-option__symbol"></span>
                                    </span>
                                    Golden Eye
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register("../sw.js").then(function (registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function (err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>

</html>